{% extends 'base.html.twig' %}

{% block link %}
<link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
<link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}">
{% endblock %}

{% block title %}Admin members{% endblock %}

{% block body %}
{% for member in members %}
    <p>{{member[0][0].id}}</p>
    <p>{{member[0][0].username}} {{member[0][0].lastname}}</p>
    <p>{{member[1][0].mail}}</p>
    <p>{{member[0][0].address}}</p>
    <p>{{member[0][0].sold}}€</p>
    <button><a href="{{ path('adminMemberModify', { 'id' : member[0][0].id})}}">Modifier</a></button>
    <button><a href="{{ path('adminMemberRemove', { 'id' : member[0][0].id})}}">Supprimer</a></button>
    <button><a href="{{ path('adminMemberCommand', { 'id' : member[0][0].id})}}">Voir commande</a></button>
    <hr>
{% endfor %}
{% endblock %}
