{% extends 'base.html.twig' %}

{% block link %}
<link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
<link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}">
<link rel="stylesheet" href="{{ asset('/css/modifyRestorers.css')}}">
{% endblock %}

{% block title %}Modifier - {{restorer.name}}{% endblock %}


{% block body %}
<div class="body">
    <div class="body__title">
        <h3>{{restorer.name}}</h3>
    </div>
    <div class="body__content">
        <div class="body__form">
            {{form_start(restorerFormModify)}}
        </div>
        <div class="body__name">
            {% if form_errors(restorerFormModify.name) %}
            {{form_errors(restorerFormModify.name)}}
            {% endif %}
            {{form_widget(restorerFormModify.name)}}
        </div>
        <div class="body__file">
            {% if form_errors(restorerFormModify.file) %}
            {{form_errors(restorerFormModify.file)}}
            {% endif %}
            {{form_widget(restorerFormModify.file)}}
        </div>
        <div class="body__adress">
            {% if form_errors(restorerFormModify.address) %}
            {{form_errors(restorerFormModify.address)}}
            {% endif %}
            {{form_widget(restorerFormModify.address)}}
        </div>
        <div class="body__button">
            <button class="favorite styled2" type="submit">Modifier</button>
        </div>
    </div>
        {{form_end(restorerFormModify)}}
    
</div>

{% endblock %}