{% extends 'base.html.twig' %}

{% block link %}
	<link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
	<link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}">
{% endblock %}

{% block title %}Admin restaurents
{% endblock %}

{% block body %}

	{% for restorer in allRestorer %}
		<p>{{restorer.id}}</p>
		<p>{{restorer.name}}</p>
        <p>{{app.user.mail}}</p>
		<a href="{{ path('adminRestorerDish', { 'id' : restorer.id})}}">
		{% if restorer.logo == "default.png" %}
			<img src="{{ asset('/img/')}}{{restorer.logo }}" alt="">
		{% else %}
			<img src="{{ asset('/restorer/' ~ restorer.id ~ '/logo/' ~ restorer.logo )}}" alt="">
		{% endif %}
		</a>
		<button type="submit">
			<a href="{{ path('adminModifyRestorer', { 'id' : restorer.id})}}">Modifier</a>
		</button>
		<button type="submit">
			<a href="{{ path('adminRemoveRestorer', { 'id' : restorer.id})}}">Supprimer</a>
		</button>
		<button type="submit">
			<a href="{{ path('adminRestorerCommand', { 'id' : restorer.id})}}">
				Voir Commande</a>
		</button>
	{% endfor %}
{% endblock %}
