{% extends 'base.html.twig' %}

{% block link %}
<link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
<link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}">
<link rel="stylesheet" href="{{ asset('/css/restorerCommand.css')}}">
{% endblock %}

{% block title %}Command - {{restorer.name}}{% endblock %}

{% block body %}
    <div class="body__top">

<!-- <h3>Commandes</h3> -->
        <div class="body__top--command">
            <div class="body__title">

                <h1>Commande {{restorer.name}}</h1>
            </div>
            {% for c in command %} 
        
            <div class="body__top__command2">
                <div class="body__top--command2-title">
                    <h3>Commandes: </h3>
                    <p>Numero de commande : <span>{{c[0][0].id}}</span> <br> prix :  <span>{{c[0][0].price}}€</span></p>

                    <p>Date de livraison : <span>{{c[0][0].delivery.date}}</span></p>
                </div>
            </div>

            <div class="body__top--command3">
                {% for key,dish in c[2] %}
                    <p><span>{{dish.name}}</span></p>
                    <div class="body__top--command3-img">
                        {% if dish.img == "default.png" %}
                        <img src="{{ asset('/img/')}}{{dish.img}}" alt="">
                        {% else %}
                        <img src="{{ asset('/dishs/' ~ dish.id ~ '/' ~ dish.img)}}" alt="">
                        {% endif %}
                    </div>
    
                    <p>quantité : {{c[1][0][key].quantity}}</p>
    
                    <p>{{c[3][0].mail}}</p>
    
                    {% for n in note %}
                        {% if n[0] == dish %}
                            {% if n[1][0].note == null %}
                                <p>le plat n'a pas encore été noté</p>
                            {% else %}
                                <p>{{n[1][0].note}}/5</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}    
            <!-- </div> -->
            </div>

          
            {% endfor %}
        </div>
          
    </div>

    <div class="body__bottom">
        <div class="body__top--command">

            <div class="body__title">
                <h1>Commandes en cours</h1>
            </div>

    {% for c in command %}

        <div class="body__top__command2">
            {% if c[0][0].status == false %}
            <div class="body__top--command2-title">
            <h3>Commandes en cours: </h3>
            <p>Numero de commande : <span>{{c[0][0].id}}</span> <br> prix :  <span>{{c[0][0].price}}€</span></p>
            <p>Date de livraison: <span>{{c[0][0].delivery.date}}</span></p>            
            </div>
        </div>


        {# {{dump(c)}}#}
        <div class="body__top--command3">
            {% for key,dish in c[2] %}
            <p>{{dish.name}}</p>
            <div class="body__top--command3-img">
                {% if dish.img == "default.png" %}
                <img src="{{ asset('/img/')}}{{dish.img}}" alt="">
                {% else %}
                <img src="{{ asset('/dishs/' ~ dish.id ~ '/' ~ dish.img)}}" alt="">
                {% endif %}
            </div>

                <p>quantité : {{c[1][0][key].quantity}}</p>
                {% for n in note %}
                {% if n[0] == dish %}
                {% if n[1][0].note == null %}
                <p>le plat n'a pas encore été noté</p>
                {% else %}
                <p>{{n[1][0].note}}/5</p>
                {% endif %}
                {% endif %}
                {% endfor %}

        {% endfor %}
    </div>
    </div>
        {% endif %}
    </div>
    {% endfor %}

{% endblock %}
