{% extends 'base.html.twig' %}

{% block link %}
<link rel="stylesheet" href="{{ asset('css/profilMember.css') }}">
<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
{% endblock %}

{% block title %}Profil - {{member.username}}{% endblock %}

{% block body %}
<style>
    .none {
        display: none;
    }
</style>

<div class="container__title">
    <h1>Profil</h1>
</div>


<div class="profil-js container__body">
    <div class="container__body--1">
        <span>Prénom</span>
        <p class="container__body--11">{{member.username}}</p>
    </div>
    <div class="container__body--2">
        <span>Nom</span>
        <p class="container__body--22">{{member.lastname}}</p>
    </div>
    <div class="container__body--3">
        <span>Adresse</span>
        <p class="container__body--33">{{member.address}}</p>
    </div>
    <div class="container__body--4">
        <span>Solde</span>
        <p class="container__body--44">{{member.sold}} €</p>
    </div>
    <div class="container__body--5">
        <span>Email</span>
        <p class="container__body--55">{{member.user.mail}}</p>
    </div>
</div>


<div class="update-profil-js none">
    <div class="container__body2">
        <div class="container__body--6">
            <span>Prénom</span>
            <div class="container__body--66">
                {{form_start(memberFormModify)}}
                {% if form_errors(memberFormModify.username) %}
                {{form_errors(memberFormModify.username)}}
                {% endif %}
                {{form_widget(memberFormModify.username)}}
            </div>
        </div>
        <div class="container__body--7">
            <span>Nom</span>
            <div class="container__body--77">
                {% if form_errors(memberFormModify.lastname) %}
                {{form_errors(memberFormModify.lastname)}}
                {% endif %}
                {{form_widget(memberFormModify.lastname)}}
            </div>
        </div>
        <div class="container__body--8">
            <span>Adresse</span>
            <div class="container__body--88">
                {% if form_errors(memberFormModify.address) %}
                {{form_errors(memberFormModify.address)}}
                {% endif %}
                {{form_widget(memberFormModify.address)}}
            </div>
        </div>
    </div>

    <div class="container__bottom--button">
        <button class="favorite styled2" type="submit">Modifier</button>
    </div>

    {{form_end(memberFormModify)}}
</div>


<div class="update-password-js none">
    <div class="container__modifyMdp">
        <form action="" method="post">
            <div class="container__modifyMdp--1">
                <span>Ancien mot de passe</span>
                <input type="password" name="lastPassword" placeholder="ancien mot de passe" required>
            </div>
            <div class="container__modifyMdp--2">
                <span>Nouveau mot de passe</span>
                <input type="password" name="newPassword" placeholder="nouveau mot de passe" required>
            </div>
            <div class="container__modifyMdp--3">
                <span>Répéter mot de passe</span>
                <input type="password" name="reapeatPassword" placeholder="répéter mot de passe" required>
            </div>

            <div class="container__bottom--button">
                <button class="favorite styled2" type="submit">Modifier</button>
            </div>
        </form>
    </div>
</div>

<div class="container__bottom--button2">
    <div class="button3" style="
    display: flex;
    justify-content: flex-end;
    margin: 0px 60px 40px 0px">
        <button class="buttonProfil-js none favorite styled2" type="submit">Voir profil</button>
    
    <div class="button2 buttonUpdatePassword-js">
        <button class="favorite styled2" type="submit">Modifier password</button>
    </div>
    <div class="button1">
        <button class="buttonUpdateProfil-js favorite styled2" type="submit">Modifier profil</button>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    var buttonProfil = document.querySelector('.buttonProfil-js')
    var buttonUpdatePassword = document.querySelector('.buttonUpdatePassword-js')
    var buttonUpdateProfil = document.querySelector('.buttonUpdateProfil-js')

    var profil = document.querySelector('.profil-js')
    var updateProfil = document.querySelector('.update-profil-js')
    var updatePassword = document.querySelector('.update-password-js')

    function displayModifyProfil() {
        if(updatePassword.classList.contains('none')){
            profil.classList.add("none")
            buttonProfil.classList.remove("none")
        }else{
            updatePassword.classList.add("none")
            buttonUpdatePassword.classList.remove("none")
        }
        updateProfil.classList.remove("none")
        buttonUpdateProfil.classList.add("none")
    }

    function displayModifyPassword() {
        if(updateProfil.classList.contains('none')){
            profil.classList.add("none")
            buttonProfil.classList.remove("none")
        }else{
            updateProfil.classList.add("none")
            buttonUpdateProfil.classList.remove("none")
        } 
        updatePassword.classList.remove("none")
        buttonUpdatePassword.classList.add("none")
    }

    function displayProfil() {
        if (updatePassword.classList.contains('none')) {
            updateProfil.classList.add("none")
            buttonUpdateProfil.classList.remove("none")
        }else{
            updatePassword.classList.add("none")
            buttonUpdatePassword.classList.remove("none")
        }
        profil.classList.remove("none")
        buttonProfil.classList.add("none")
    }
    buttonUpdateProfil.addEventListener('click', displayModifyProfil);
    buttonUpdatePassword.addEventListener('click', displayModifyPassword);
    buttonProfil.addEventListener('click', displayProfil);
</script>
{% endblock %}