{% extends 'base.html.twig' %}

{% block link %}
<link rel="stylesheet" href="{{ asset('css/dish.css') }}">
<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
{% endblock %}

{% block title %}{{restorer.name}}{% endblock %}

{% block body %}
<input type="hidden" class="restorer-id-js" value="{{restorer.id}}">
<style>
    .none {
        display: none;
    }
</style>

<div class="hero__home">
    <div class="hero__home--content">
    </div>
</div>

<div class="search">
    <input type="text" class="search-dish-js" placeholder="rechercher plat..">
    <div class="result-search-js"></div>
</div>

<div class="container__restorer">
    <h1>{{restorer.name}}</h1>
    <div class="container__restorer--img">
        {% if restorer.logo == "default.png" %}
        <img src="{{ asset('/img/')}}{{restorer.logo }}" alt="">
        {% else %}
        <img src="{{ asset('/restorer/' ~ restorer.id  ~ '/logo/' ~ restorer.logo )}}" alt="">
        {% endif %}
    </div>
</div>



<div class="visible">
    <div class="container__body">
        {% for dish in dishs %}
        <div class="container__body--middle">
            <div class="container__body--content">
                <span>{{dish[0].name}}</span>
                <p>{{dish[0].price}} €</p>
                {% if dish[1][0].note != null %}
                <p>{{dish[1][0].note}}</p>
                {% else %}
                <p>note : 1</p>
                {% endif %}
            </div>
            <div class="container__body--img">
                {% if dish[0].img == "default.png" %}
                <img src="{{ asset('/img/')}}{{dish[0].img}}" alt="">
                {% else %}
                <img src="{{ asset('/dishs/' ~ dish[0].id ~ '/' ~ dish[0].img)}}" alt="">
                {% endif %}
            </div>
            <div class="container__body--button">
                <form action="" method="post">
                    <button class="favorite styled2" type="submit"><a href="{{ path('basket_add', { 'id' : dish[0].id, 'restorer' : restorer.id})}}">Ajouter</a></button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script>
    $(document).ready(function () {
    $('.search-dish-js').keyup(function () {
        $('.result-search-js').html('');
        var name = $(this).val();
        var id = $(".restorer-id-js").val();
        console.log(id)
        if (name != '') {
            $.ajax({
                type: 'GET',
                url: "{{ path('searchDish') }}",
                data: 'name=' + encodeURIComponent(name) + '&restorer=' + encodeURIComponent(id),
                success: function (data) {
                    if (data != "") {
                        $('.result-search-js').append(data);
                        $('.visible').addClass('none')
                    } else {
                        $('.result-search-js').html('aucun plat ne porte ce nom');
                    }
                }
            })

        }
        $('.visible').removeClass('none')
    })
});
</script>
{% endblock %}