{% extends 'base.html.twig' %}

{% block title %}Plats - {{restorer.name}} {% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
<link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}">
<link rel="stylesheet" href="{{ asset('/css/restorerDishs.css')}}">
<link rel="stylesheet" href="{{ asset('/css/popup.css')}}">
{% endblock %}

{% block body %}
<div class="container__body">

    <div class="container__body--top">
        <div class="container__body--title">
            <h1>ESPACE RESTAURATEUR</h1>
        </div>
        <div class="container__body--button">
            <button class="add-dish-js favorite styled2">Ajouter</button>
        </div>
    </div>


            <div class="popup-content">
                <div class="popup-content--img">
                    <img class="close" src="{{ asset('/img/close.png')}}" alt="">
                    {{form_start(formAddDish)}}
                </div>
                <div class="popup-content--name">
                    <span>Nom du plat</span>
                    {% if form_errors(formAddDish.name) %}
                        {{form_errors(formAddDish.name)}} 
                    {% endif %} 
                        {{form_widget(formAddDish.name)}}
                </div>
                <div class="popup-content--file">
                    {% if form_errors(formAddDish.file) %}
                        {{form_errors(formAddDish.file)}} 
                    {% endif %} 
                    {{form_widget(formAddDish.file)}}
                </div>
                <div class="popup-content--price">
                    <span>prix</span>
                    {% if form_errors(formAddDish.price) %}
                        {{form_errors(formAddDish.price)}} 
                    {% endif %} 
                        {{form_widget(formAddDish.price)}}
                </div>
                <div class="popup-content--button">
                    <button class="favorite styled2" type="submit">Ajouter</button>
                </div>

                {{form_end(formAddDish)}}
            </div>


    <div class="container__body--bottom">
            {% for key,dish in dishs %}
            <div class="container__body--content">
                <div class="container__body--content-title">
                    <p>{{dish.name}}</p>
                </div>
                <div class="container__body--content-img">
                    {% if dish.img == "default.png" %}
                        <img src="{{ asset('/img/')}}{{dish.img}}" alt="">
                    {% else %}
                        <img src="{{ asset('/dishs/' ~ dish.id ~ '/' ~ dish.img)}}" alt="">
                    {% endif %}
                </div>
                <div class="container__body--content-p">
                    <p>{{dish.price}}€</p>
                    <p>{{note[key][0].note}}/5</p>
                </div>
                <div class="container__body--content-button">
                    <button class="favorite styled3"><a href="{{ path('dishRemove', { 'id' : dish.id})}}">Supprimer plat</a></button>
                    <button class="favorite styled3"><a href="{{ path('dishModify', { 'id' : dish.id})}}">Modifier plat</a></button>
                </div>
            </div>
            {% endfor %}
    </div>
</div>




{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/popup.js')}}"></script>
{% endblock %}